@import 'src/styles/index.scss';

// == Size Mobile
@media screen and (min-width: 300px) {
  // Toute la page
  .mobile_layout_details {
    margin-left: 16%;
    background-color: #161616;
    color: rgb(240, 231, 231);
  }

  .desktop_details {
    display: none;
  }

  .tablette_header_fond {
    display: none;
  }

  .details_arrow {
    font-size: 1.5em;
    line-height: 1rem;
  }

  // Note du film
  .mobile_rating_background {
  border-color: #218da8;
  border-style: double;
  border-radius: 100%;
  border-width: 6px;
  background-color: #161616;
  width: 2.5em;
  height: 2.5em;
  overflow:hidden;
  position:relative;
  margin-top: -2.5rem;
  display: block;
  margin-left: 13rem;
  z-index: 1;
  }

  .mobile_rating {
    font-size: 0.85em;
    line-height: 2em;
    font-family: 'Dosis', sans-serif;
    color: #fff;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05em;
  }

  .mobile_header {
    // Photo de couverture
    &_fond {
      background-image:  linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
      background-size: cover;
      background-position: center;
      background-blend-mode: darken;
      width: 100%;
      -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
			color-stop(0.00,  rgba(0,0,0,1)),
			color-stop(0.35,  rgba(0,0,0,1)),
			color-stop(0.50,  rgba(0,0,0,1)),
			color-stop(0.65,  rgba(0,0,0,1)),
			color-stop(0.85,  rgba(0,0,0,0.6)),
      color-stop(1.00,  rgba(0,0,0,0)));
    }

    // Bouton de bande-annonce
    &_trailer {
      display:block;
      width: 2rem;

      &_button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
      }
    }

     // Image de l'affiche
    &_image {
      width: 9rem;
      border-radius: 3%;
      -moz-box-shadow: 0px 0px 15px 0px rgba(122, 121, 121, 0.5);
      -webkit-box-shadow: 0px 0px 15px 0px rgba(122, 121, 121, 0.5);
      -o-box-shadow: 0px 0px 15px 0px rgba(122, 121, 121, 0.5);
      box-shadow: 0px 0px 15px 0px rgba(122, 121, 121, 0.5);
      display: block;
      margin: 1rem auto 1rem auto;

      &_wrapper {
        z-index: 1;
      }
    }

    // Titre du film
    &_title {
      font-family: 'Dosis', sans-serif;
      text-align: center;
      padding: 0 0.5rem;
      margin: 3rem 0;
      font-size: 1.3em;
      letter-spacing: 0.2em;
      line-height: 1.5em;
      font-weight: bold;
      background: linear-gradient(to left, rgb(161, 121, 9), rgb(255, 203, 57));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
    }
  }

  .mobile {
    //Synopsis
    &_synopsis {
      // Le titre "Synopsis"
      &_title {
        font-size: 1.2em;
        letter-spacing: 0.2em;
        color: #161616;
        background: linear-gradient(to left, #ffcb39, #a17909);
        padding: 0.5rem 0rem .5rem 1.5rem;
        clip-path: polygon(0 0, 90% 0, 75% 100%, 0 100%);
      }
      // Le texte de la synopsis
      &_text {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        margin-top: 1rem;
        line-height: 1.3em;
        font-size: 0.95em;
        font-family: 'Open Sans', sans-serif;
        text-align: justify;
        padding: 1em;
      }
    }
    // Informations
    &_info {
      // Le titre "Informations"
      &_title {
        font-size: 1.2em;
        letter-spacing: 0.2em;
        color: #161616;
        background: linear-gradient(to right, #ffcb39, #a17909);
        padding: 0.5rem 1.5rem .5rem 0rem;
        text-align: right;
        border-top-color: transparent;
        border-bottom-color: #161616;
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 10% 100%);
      }
      // Container des informations
      &_stats {
        width: 100%;
        display: flex;
        padding: 1.5em;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.95em;
        line-height: 1.3em;
        margin-top: 0.5rem;
      }
  
      &_column {
        width: 35%;
        display: flex;
        flex-direction: column;
      }
      // Titre des informations
      &_subtitle {
        margin-bottom: 0.5rem;
        font-weight: 600;
      }
  
      &_text {
        margin-bottom: 0.5rem;
      }
    }

    // Casting
    &_casting {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2rem 1.5rem 1rem;
      font-family: 'Open Sans', sans-serif;
      font-size: 0.95em;
      line-height: 1.3em;

      &_title {
        font-size: 1.2em;
        letter-spacing: 0.2em;
        color: #161616;
        background: linear-gradient(to left, #ffcb39, #a17909);
        padding: 0.5rem 0rem .5rem 1.5rem;
        clip-path: polygon(0 0, 90% 0, 75% 100%, 0 100%);
        margin-bottom: 0.5rem;
      }

      &_image {
        display: flex;
        flex-direction: column;
        border-radius: 3%;
        -moz-box-shadow: 0px 0px 15px 0px rgba(122, 121, 121, 0.5);
        -webkit-box-shadow: 0px 0px 15px 0px rgba(122, 121, 121, 0.5);
        -o-box-shadow: 0px 0px 15px 0px rgba(122, 121, 121, 0.5);
        box-shadow: 0px 0px 15px 0px rgba(122, 121, 121, 0.5);
        width: 138px;
        height: 175px;
      }

      &_actor {
        margin-top: 0.6rem;
        font-weight: 600;
      }

      &_name {
        font-style: italic;
      }
    }

    // Trailer
    &_video {
      margin-top: 2rem;

      &_title {
        font-size: 1.2em;
        letter-spacing: 0.2em;
        color: #161616;
        background: linear-gradient(to right, #ffcb39, #a17909);
        padding: 0.5rem 1.5rem .5rem 0rem;
        text-align: right;
        border-top-color: transparent;
        border-bottom-color: #161616;
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 10% 100%);
      }

      &_link {
        padding: 2rem 0;
        text-align: center;
      }
    }
  }

  .ipad_video_link {
    display: none;
  }

  .footer {
    padding: 3rem;
    text-align: center;
    background: #000;
  }

  .text_footer {
    color: #adadad;
    text-align: center;
    line-height: 2rem;
  }

  footer {
    margin-left: 16%;
  }
}

// == Size Tablet
@media screen and (min-width: 768px) {
  // Toute la page
  .mobile_layout_details {
    margin-left: 25%;
  }

  // Note du film
  .mobile_rating_background {
    margin-left: 21.6rem;
  }

  .mobile_header_fond{
    display: none;
  }
  
  .tablette_header_fond {
    display: block;
    background-image:  linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    width: 100%;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    color-stop(0.00,  rgba(0,0,0,1)),
    color-stop(0.35,  rgba(0,0,0,1)),
    color-stop(0.50,  rgba(0,0,0,1)),
    color-stop(0.65,  rgba(0,0,0,1)),
    color-stop(0.85,  rgba(0,0,0,0.6)),
    color-stop(1.00,  rgba(0,0,0,0)));
  }

  .mobile_header{
    &_cover {
    padding-top: 15rem;
    }

    &_title {
      margin: 4rem 4rem,
    }
  }

  .mobile_synopsis {
    margin-bottom: 4rem;
  }

  .mobile_info {
    margin-bottom: 4rem;
  }

  .mobile_casting {
    margin-bottom: 4rem;
  }

  .mobile_video {
    padding-bottom: 4rem;
  }

  .mobile_video_link {
    display: none;
  }

  .ipad_video_link {
    text-align: center;
    margin-top: 3rem;
    display: block; 
  }
}

@media screen and (min-width: 950px) {
  // Format mobile et tablette
  .mobile_layout_details {
    display: none;
  }

  // Format Desktop container qui enveloppe tout
  .desktop_details {
    margin-left: 25%;
    display: block;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    
    // Effet de l'image en arrière plan avec filtre **IMAGE DE FOND**
    &_background_effect {
      width: 100%;
      position: relative;
      z-index: 1;
      
      &_after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      will-change: opacity;
      transition: filter 1s;
      }
    }

    // Mettre la couleur par dessus l'image
    &_custom_bg {
      background-image: radial-gradient(circle at 50% 50%, rgba(19.61%, 7.84%, 7.84%, 0.9) 50%, rgba(27.45%, 13.73%, 13.73%, 0.88) 100%)
    }

    // Présentation des films
    &_presentation {
      /** CODE **/


      // Section contenant les deux colonnes
      &_infos {
        /** CODE **/
        display: flex;
        flex-direction: row;
        padding: 5rem;
      }
    }

    &_column_poster {
      display: block;
    }

    &_column_details {
      margin-left: 3rem;
    }
  }

  // Jacquette et Titre
  .desktop_header {

    &_image {
      border-radius: 3%;
      box-shadow: 0 0 10px rgba(0,0,0,0.9);
      width: 300px;
      height: 450px;
    }

    &_title {
      color: #fff;
      font-size: 2.4em;
      font-family: 'Dosis', sans-serif;
      font-weight: 700;
      line-height: 1.1em;
      margin: 0 0 1rem;
    }

    &_trailer {
      display: block;
      width: 25px;

      &_button {
        display: flex;
        align-items: center;
        margin-left: -0.5rem;
      }
    }
    
    // L'affiche du film
    &_column_poster {
      /** CODE **/
    }

    // Les informations du film
    &_column_details {
      /** CODE **/
    }
  }

  // Note du film
  .desktop_rating_background {
    border-style: double;
    border-radius: 100%;
    border-width: 6px;
    width: 3.5em;
    height: 3.5em;
    overflow:hidden;
    position:relative;
    margin-top: 1rem;
    border-color: #218da8;
  }

  .desktop_rating {
    font-size: 1.2em;
    line-height: 2.3em;
    font-family: 'Dosis', sans-serif;
    color: #fff;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05em;
  }

  // Synopsis & informations
  .desktop_synopsis_title {
    margin-top: 0.5rem;
    font-weight: 700;
    padding: 1rem 0;
  }
  
  .desktop_info_title {
    font-weight: 700;
    padding: 1rem 0;
  }

  .desktop_synopsis_text, .desktop_info_text {
    font-style: italic;
  }

  .desktop_info, .desktop_casting {
    display:flex;
    flex-direction: row;
  }

  .desktop_info {

    &_stats {
      display: flex;
    }

    &_column {
      display: flex;
      flex-direction: column;
      margin-right: 2rem;
    }
  }

  .desktop_casting_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem 1.5rem 1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.95em;
    line-height: 1.3em;
    justify-content: space-around;
  }

  .desktop_casting {
    display: flex;
    flex-direction: column;
    width: 138px;
    height: 175px;

    &_title {
      margin-top: 2rem;
      font-weight: 700;
      padding: 1rem 0;
      text-align: center;
      font-size: 1.3rem;
      line-height: 1.4rem;
      letter-spacing: 0.1rem;
      background: linear-gradient(to left, rgb(161, 121, 9), rgb(255, 203, 57));
      -webkit-background-clip:text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
    }

    &_image {
      border-radius: 3%;
      box-shadow: 0 0 10px rgba(0,0,0,0.9);
      width: 138px;
      height: 175px;
    }

    &_actor {
      margin-top: 0.6rem;
      font-weight: 600;
      text-align: center;
    }

    &_name {
      font-style: italic;
      word-wrap: break-word;
      text-align: center;
    }
  }
  
  .desktop_video {
    margin-top: 3rem;
    text-align: center;
    padding-bottom: 4rem;

    &_title {
      margin: 2rem 0;
      font-weight: 700;
      padding: 1rem 0;
      text-align: center;
      font-size: 1.3rem;
      line-height: 1.4rem;
      letter-spacing: 0.1rem;
      background: linear-gradient(to left, rgb(161, 121, 9), rgb(255, 203, 57));
      -webkit-background-clip:text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
    }
  }

  // Ligne de séparation
  .details_seperation {
    width: 60%;
    margin-top: 8rem;
  }
}
