// == Size Mobile
@media screen and (min-width: 300px) {
  *, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .team {
    &_container_info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    // Fond de la page
    &_background {
    margin-left: 16%;
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to right,rgb(161, 121, 9), rgb(255, 203, 57) 100%);
    }

    // Contenant de la team
    &_container {
      margin: 4em 2em;
      padding: 2em;
      background-color: #161616;
      border-radius: 1.5em;
    }

    // Titre du contenant
    &_title {
      background: linear-gradient(to left, rgb(161, 121, 9), rgb(255, 203, 57));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      position: relative;
      font-size: 2em;
      font-family: 'Dosis', sans-serif;
      font-weight: 700;

      // Ligne de décoration sous le titre du contenant
      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 25px;
        height: 4px;
        background: linear-gradient(to left, rgb(161, 121, 9), rgb(255, 203, 57));
      }
    }

    // Information sur la team
    &_info {
      margin: 2em 0;
      font-size: 0.95em;
      color: #888;
      text-align: justify;
      line-height: 1.2em;

      &_links {
        background: linear-gradient(to left, rgb(161, 121, 9), rgb(255, 203, 57));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    // Présentation des membres de l'équipe : titre, image et texte
    &_member {

      &_title {
        text-align: center;
        font-size: 1.5em;
        color: #fff;
        padding: 1em 0;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 0.25em;
      }

      &_photo {
        width: 60%;
        display: block;
        margin: auto;
        border-radius: 1em;
        border: 3px solid #fff;
      }

      &_text {
        text-align: justify;
        margin: 1em 0;
        color: #888;
        font-size: 1em;
        line-height: 1.2em;
      }

      &_links {
        margin-bottom: 1.5em;
        display: flex;
        justify-content: space-evenly;
      }
    }
  }

  .linkedin, .twitter, .github {
    color: #fff;
    font-size: 1.8em;
  }
}

@media screen and (min-width: 768px) {
  .team {

    // fond de la page
    &_background {
      margin-left: 25%;      
    }

    // contenant de la team
    &_container {
      margin: 6em 3em;
      min-height: 70vh;
      min-width: 45%;
      padding: 4em;
    }

    &_title {
      &::after {
        bottom: -20px;
        width: 35px;
        height: 6px;
      }
    }

    // Information sur la team
    &_info {
      font-size: 1em;
      margin: 3em 0;
    }

    &_member {

      &_text {
        font-size: 1.2em;
      }

      &_links {
        margin-bottom: 2em;
      }
    }
  }
}

@media screen and (min-width: 950px) {
  .team {

    &_container {
      display: flex;
      width: 70%;
      flex-direction: column;
      margin: 6em auto;
    }

    // Information sur la team
    &_info {
      font-size: 1.2em;
    }

    // Titre d'un membre de la team
    &_title {
      font-size: 3em;
    }

    &_member {
      width: 50%;
      margin: 2em;
      height: 100%;
      
      &_photo {
      width: 40%;
      }

      &_links {
        display: block;
        text-align: center;
      }
    }
  }

  .right {
    width: 100%;
    display: flex;
  }

  .linkedin, .twitter, .github {
    font-size: 2.5em;
  }
}
