@media screen and (min-width: 300px) {
  .home {
    margin-left: 16%;
  }

  .footer {
    padding: 3rem;
    text-align: center;
    background: #000;
  }

  .text_footer {
    color: #adadad;
    text-align: center;
    line-height: 2rem;
  }

  footer {
    margin-left: 16%;
  }

  .link_footer {
    background: linear-gradient(to left, rgb(161, 121, 9), rgb(255, 203, 57));
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
  }

  .container_movie {
    margin-bottom: 1rem;
  }

  .title {

    &_image {
      font-size: 14px;
      text-align: center;
      margin-top: .6rem;
      color: #fff;
    }
    
    &_category {
      font-family: 'Dosis', sans-serif;
      font-weight: 500;
      font-size: 1.2rem;
      text-transform: uppercase;
      background: linear-gradient(to left, rgb(161, 121, 9), rgb(255, 203, 57));
      -webkit-background-clip:text;
      -webkit-text-fill-color: transparent;
      display: inline;

      &_movies {
        padding: 1.5rem;
        text-align: center;
        letter-spacing: 0.2em;
        background: #161616;
      }
      
      &_shows {
        padding-top: 4rem;
        padding-bottom: 1.5rem;
        text-align: center;
        letter-spacing: 0.2em;
        background: #161616;
      }
    }
  }

  .section {
    background: #161616;
  }

  .cover_img {
    width: 8rem;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
    -moz-box-shadow: 0px 0px 15px 0px rgba(122, 121, 121, 0.5);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(122, 121, 121, 0.5);
    -o-box-shadow: 0px 0px 15px 0px rgba(122, 121, 121, 0.5);
    box-shadow: 0px 0px 15px 0px rgba(122, 121, 121, 0.5);
  }

  .cover {

    &_list {
      margin: 0.6rem 0;
    }
    // FILMS
    &_movies_list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 1rem 0;
    }

    // SHOWS
    &_shows_list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 1rem 0;
    }
  }
}


@media screen and (min-width: 768px) {
  .home {
    margin-left: 25%;
  }

  .container_movie {
    padding: 0rem 0rem .5rem;
    margin: .2rem;
    background: linear-gradient(to left, rgb(255, 203, 57), rgb(161, 121, 9));
    border-radius: 2%;
  }

  .title_image {
    font-size: 18px;
  }
  
  .cover_img {
    width: 13rem;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
  }

  .cover {
    &_list {
      margin: 0;
    }
    // FILMS
    &_movies_list {
      margin-bottom: 4rem;
    }

    // SHOWS
    &_shows_list {
      margin-bottom: 4rem;
    }
  }
}



