@media screen and (min-width: 300px) {
  .home {
    margin-left: 16%;
  }


  .title {
    padding: 1.5rem;
    text-align: center;
    letter-spacing: 0.2em;
    background: #232323;

    &_image {
      font-size: 14px;
      text-align: center;
      margin-top: .4rem;
    }
    
    &_category {
      font-family: 'Dosis', sans-serif;
      font-weight: 500;
      font-size: 1.2rem;
      text-transform: uppercase;
      background: linear-gradient(to left, rgb(161, 121, 9), rgb(255, 203, 57));
      -webkit-background-clip:text;
      -webkit-text-fill-color: transparent;
      display: inline;
    }
  }

  .section {
    background: #232323;
  }

  .cover_img {
    width: 8rem;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
  }

  .cover {

    &_list {
      margin: 0.6rem 0;
    }
    // FILMS
    &_movies_list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      border-top-left-radius: 2% 1%;
      border-bottom-left-radius: 2% 1%;
      background: #fff;
      padding: 1rem 0;
    }

    // SHOWS
    &_shows_list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      border-top-left-radius: 1.1%;
      border-bottom-left-radius: 1.1%;
      background: #fff;
      padding: 1rem 0;
    }
  }
}


@media screen and (min-width: 768px) {
  .home {
    margin-left: 25%;
  }

  .container_movie {
    padding: 0rem 0rem .5rem;
    margin: .2rem;
    background: linear-gradient(to left, rgb(255, 203, 57), rgb(161, 121, 9));
    border-radius: 2%;
  }

  .title_image {
    font-size: 18px;
  }
  
  .cover_img {
    width: 13rem;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
  }

  .cover {
    &_list {
      margin: 0;
    }
    // FILMS
    &_movies_list {
      margin-bottom: 4rem;
    }

    // SHOWS
    &_shows_list {
      margin-bottom: 4rem;
    }
  }
}



