@media screen and (min-width: 300px) {
  .home {
    margin-left: 16%;
  }

  .footer {
    padding: 3rem;
    text-align: center;
    background: #000;
  }

  .text_footer {
    color: #adadad;
    text-align: center;
    line-height: 2rem;
  }

  footer {
    margin-left: 16%;
  }

  .link_footer {
    background: linear-gradient(to left, rgb(161, 121, 9), rgb(255, 203, 57));
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
  }

  .title {

    &_image {
      font-size: 1.05em;
      text-align: center;
      color: #fff;
      max-width: 128px;
      line-height: 1.1rem;
      min-height: 45px;
      max-height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
    }
    
    &_category {
      font-family: 'Dosis', sans-serif;
      font-weight: 500;
      font-size: 1.6rem;
      text-transform: uppercase;
      background: linear-gradient(to left, rgb(161, 121, 9), rgb(255, 203, 57));
      -webkit-background-clip:text;
      -webkit-text-fill-color: transparent;
      display: inline;

      &_movies {
        padding: 1.5rem;
        text-align: center;
        letter-spacing: 0.2em;
        background: #161616;
        display: flex;
        flex-direction: column;
      }
      
      &_shows {
        padding-top: 4rem;
        padding-bottom: 1.5rem;
        text-align: center;
        letter-spacing: 0.2em;
        background: #161616;
        display: flex;
        flex-direction: column;
      }

      &_comment {
        margin-top: 0.5rem;
        color: #666565;
        font-family: 'Yellowtail', cursive;
        font-size: 1.1em;
        letter-spacing: 0.1rem;
      }
    }
  }

  .section {
    background: #161616;
  }

  .cover {

    &_list {
      margin: 0.6rem 0;
    }

    // FILMS
    &_movies_list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 1rem 0;
    }

    // SHOWS
    &_shows_list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 1rem 0;
    }

    &_img {
      width: 8rem;
      height: 100%;
      object-fit: cover;
      border-radius: 5%;
      -moz-box-shadow: 0px 0px 15px 0px rgba(122, 121, 121, 0.5);
      -webkit-box-shadow: 0px 0px 15px 0px rgba(122, 121, 121, 0.5);
      -o-box-shadow: 0px 0px 15px 0px rgba(122, 121, 121, 0.5);
      box-shadow: 0px 0px 15px 0px rgba(122, 121, 121, 0.5);
      min-height: 192.35px;
      min-width: 128px;
      margin-bottom: 0.5rem;
    }
  }

  // Ligne de séparation
  .home_seperation {
    width: 70%;
    margin-top: 3rem;
  }
}


@media screen and (min-width: 768px) {
  .home {
    margin-left: 25%;
  }

  .container_movie {
    padding: 0rem 0rem .5rem;
    margin: .2rem 0rem 2rem 0rem;
    background: linear-gradient(to left, rgb(255, 203, 57), rgb(161, 121, 9));
    border-radius: 2%;
  }

  .title_image {
    font-size: 18px;
    color: #161616;
    max-width: 208px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.5rem;
  }
  
  .cover_img {
    width: 13rem;
    height: 100%;
    min-height: 312px;
    min-width: 208px;
    object-fit: cover;
    border-radius: 0;
    -moz-box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
    -webkit-box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
    -o-box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
    box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
  }

  .cover {
    &_movies {
      max-width: calc((100% - 25%) - -5rem);
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    &_shows {
      max-width: calc((100% - 25%) - -5rem);
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    &_list {
      margin: 0;
    }
  }

  // Ligne de séparation
  .home_seperation {
    width: 60%;
    margin-top: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .cover {
    &_movies {
      max-width: calc((100% - 10%) - 5rem);
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    &_shows {
      max-width: calc((100% - 10%) - 5rem);
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    &_list {
      margin: 0;
    }
  }

  .title_category {
    font-size: 2em;
    line-height: 1.5em;

    &_comment {
      font-size: 1.3em;
      margin: 0 0 0 0.5rem;
    }

    &_movies {
      display: block;
    }

    &_shows {
      display: block;
    }
  }
}

@media screen and (min-width: 1650px) {
  .cover {
    &_movies {
      max-width: calc((100% - 25%) - 5rem);
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    &_shows {
      max-width: calc((100% - 25%) - 5rem);
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  // Ligne de séparation
  .home_seperation {
    width: 50%;
    margin-top: 3rem;
  }
}
