// == Mobile Size
@media screen and (min-width: 300px) {
  
  // Hide classic layout on mobile
  .classic_layout {
    display: none;
  }
  
  // == Menu Hamburger
  svg {
    position: absolute;
    width: 27%;
    z-index: 2;
    top: -2%;
    left: -6%;
  }

  .menu {
    .line--1,
    .line--3 {
      --total-length: 126.38166809082031;
    }
    .line--2 {
      --total-length: 80;
    }
    input:checked+svg {
      .line--1,
      .line--3 {
        --offset: -109.1770175568;
      }
    }
  }

  //Hide cross end of arrow after animation
  .back input:checked+svg {
    .line--1,
    .line--3 {
      --length: 8.602325267;
    }
    z-index: 1;
  }

  //Hide Checkbox from label
  input {
    display: none;
  }

  //Hamburger menu animation
  path {
    fill: none;
    stroke: #fff;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    --length: 24;
    --offset: -38;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition: all .8s cubic-bezier(.645, .045, .355, 1);
  }

  //Hide circle around path
  circle {
    fill: #fff3;
    opacity: 0;
  }

  //Start the animation
  label input:checked ~ nav {
    transform: none;
  }

  // Navigation Bar
  .sidebar_mobile {
    position: absolute;
    width: 80%;
    // height: 100vh;
    background: #312450;
    font-size: 0.75em;
    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform: translate(-80%, 0);
    -webkit-transform: translate(-80%, 0);
    // transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    // transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    &_links {
      list-style: none;
      margin: 85% 20%;
      text-align: right;
      font-weight: 600;
      font-family: 'Open Sans', sans-serif;
      
      li {
        position: relative;
        margin: 3.2em 0;
        
        a {
          line-height: 5em;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 0.4em;
          color: rgba(#FFF, 0.35);
          display: block;
          transition: all ease-out 300ms;
        }
        
        &.active a {
          color: white;
        }
        
        &:not(.active)::after {
          opacity: 0.2;
        }
        
        & ::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 0.2em;
          left: 0;
          bottom: 0;
          background-image: linear-gradient(to right, #5e42a6, #b74e91);
        }
      }
    }
  }
}

// == Ipad Size
@media screen and (min-width: 768px) {
  // Hide mobile layout
  .mobile_layout {
    display: none;
  }

  // Show regular layout
  .classic_layout {
    display: block;
  }

  // Sidebar layout
  .sidebar_classic {
    position: fixed;
    width: 25%;
    height: 100vh;
    background: #312450;
    font-size: 0.65em;

    &_links {
      position: relative;
      margin: 0 15%;
      text-align: right;
      top: 50%;
      transform: translateY(-50%);
      font-weight: 700;
      font-family: 'Open Sans', sans-serif;
    
      & ul {
        list-style: none;
    
        li {
          position: relative;
          margin: 3.2em 0;
          
          a {
            line-height: 5em;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.4em;
            color: rgba(#FFF, 0.35);
            display: block;
            transition: all ease-out 300ms;
          }
          
          &.active a {
            color: white;
          }
          
          &:not(.active)::after {
            opacity: 0.2;
          }
          
          &:not(.active):hover a {
            color: rgba(#FFF, 0.75);
          }
    
          &:hover a::after {
            background-image: linear-gradient(to right, #b74e91, #5e42a6);
            animation: rotate 3s infinite linear;
            -webkit-animation: rotate 3s infinite linear;
          }
          
          & ::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 0.2em;
            left: 0;
            bottom: 0;
            background-image: linear-gradient(to right, #5e42a6, #b74e91);
          }
        }
      }
    }
  }
}

@-webkit-keyframes rotate {
  from {
    background-position: -500px;
  }
  to { 
    background-position: 0px;
  }
}

@keyframes rotate {
  from {
    background-position: -500px;
  }
  to { 
    background-position: 0px;
  }
}
