// == Size Mobile
@media screen and (min-width: 300px) {
  .container_search {
    margin-left: 16%;
    display: flex;
    justify-content: center;
    color: #fff;
  }

  .choice {
    width: 100%;

    &_list {
    list-style: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    }

    &_title {
      text-align: center;
      font-family: 'Dosis', sans-serif;
      line-height: 2em;
      font-size: 1.5em;
      padding: 1.2em 0;
      background: linear-gradient(to left, rgb(161, 121, 9), rgb(255, 203, 57));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      // text-transform: uppercase;
      
    }
  }

  .search {

    
    &_title {
      text-align: center;
      font-family: 'Dosis', sans-serif;
      line-height: 2em;
      font-size: 1.5em;
      padding-top: 1.2em;
      background: linear-gradient(to left, rgb(161, 121, 9), rgb(255, 203, 57));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      // text-transform: uppercase;
    }

    &_input {
      display: block;
      width: 80%;
      line-height: 2em;
      border-radius: 0.5em;
      padding: 0.5em;
      font-family: 'Open Sans', sans-serif;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .input[id=movie-radio]:checked ~ .search_movie, .movie, .test, .search_title, .search_input{
    visibility: hidden;
  }

  .input[id=movie-radio]:not(:checked) ~ .search_movie, .movie, .test, .search_title, .search_input{
    visibility: initial;
  }

  .section_card {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
    padding: 1rem 0;
  }

  .card {

    &_image {
      width: 8rem;
      border-radius: 5%;
      -o-box-shadow: 0px 0px 15px 0px rgba(122,121,121,0.5);
      box-shadow: 0px 0px 15px 0px
      rgba(122,121,121,0.5);
      height: 192.35px;
      min-width: 128px;
      margin-bottom: 0.5rem;
      object-fit: fill;
    }

    &_title {
      font-size: 1.05em;
      text-align: center;
      color: #fff;
      max-width: 128px;
      line-height: 1.1rem;
      min-height: 45px;
      max-height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      margin-bottom: 2rem;
    }

  }
}

// == Size Tablet
@media screen and (min-width: 768px) {
  .container_search {
    margin-left: 25%;
  }
}
